*{
    margin: 0 0;
    padding: 0 0;
    font-family: sans-serif;
    max-width: 100%;
  }



  /*HEADER*/

  .banner{

    max-width: 100%;
}

.banner video{
    width: 100%;
    height: 65vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;

}


#videopozadina {
    position:absolute;
    z-index: -1;
    width: 100%; 
    height: 65%;
}

.logo{
    width: 150px;
    cursor: pointer;
    margin-left: 10px;
}

/*NAVBAR*/

.topnav {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    padding-bottom: 245px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 16.3px;
    text-transform: uppercase;

  
  }
  
  .topnav  .navbar {

    margin-top: 0px;
    position: relative;
    text-transform: uppercase;
    padding-right: 40px;
    padding-top: 53px;

  }
  
  .topnav a.active{
    padding-right: 480px;
  }
  
  
  .topnav a:hover {
    background:linear-gradient(0,0, 0, 0.01);
    color: black;
  }
  
  .topnav a.active {
    background:linear-gradient(0,0, 0, 0.01);
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  

.leto{
    width: 100%;
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    font-size: 90px;
    margin-top: 150px;
}

/*SUBNAVBAR*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #719490;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 80px;
  }
  
  li a:hover {
    color: black;
    background-color: #719490;
    opacity: 0.3;
  }

/*INFORMACIJE*/

.text {
    width: 80%;
    margin-left: 125px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 50px;
    padding-top: 50px;
}


.text p{
    padding-top: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    text-align: center;
}


.text h4{
    text-align: center;
    text-decoration: underline;
    color: #719490;
}

/*FOOTER*/

footer {
    background-color: #719490;
    align-items: center;
    max-width: 100%;
    color: white;
}

#slika{
    margin: 0 0;
    padding: 0 0;
}
#kontakt{
    text-decoration: none;
}

#fot{
    padding-left: 0;
    padding-right: 0;
}

#radno-vreme {
    text-decoration: none;

}

#radno-vreme a{
    text-decoration: none;
}

#fot img{
    padding-right: 0px;
}
.soc-links a{
    display: inline-block;
    width:  39.7px;
    height: 39.7px;
    background-color: rgba(255,255,255,0.2);
    padding-top: 12px;
    margin: 0 10px 10px 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition:  all 0.5s ease;
}

.soc-links a:hover{
    color: black;
    background-color: #fff;
}



  @media screen and (max-width: 1020px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      padding-right: 10px;
      margin-top: -50px;
    }
    .logo{
        margin-top:-120px;
        margin-bottom:0px; 
        margin-right: 0px;
        margin-left: 0px;
    }

    .topnav a{
        padding-top: 100px;
      }

    .topnav a.active{
        padding-top: 120px;
    }

    .topnav {
        padding-bottom: 190px;
    }

    li a {
        text-align: left;
        padding: 14px 16px;
        padding-left: 40px;
    }
    
  }

  @media screen and (max-width: 1020px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right:0;
      top: 0;
      z-index: 1000;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  
    .topnav.responsive .navbar{
      float: none;
      display: block;
      text-align: center;
      z-index: 1000; 
      background-color: #719490;
    }

    .text {
        width: 80%;
        margin-top: 20px;
        margin-left: 100px;
    }
    
}
  
@media screen and (max-width: 860px) {

    .text {
        width: 80%;
        margin-top: 20px;
        margin-left: 60px;
    }
    
}

@media screen and (max-width: 652px) {

    .topnav a.active{
        padding-right: 0;
    }

    .topnav a.active{
        padding: 0;
    }

    .topnav a .icon{
        padding: 0;
    }

}

@media screen and (max-width: 672px) {

    .topnav a.active{
        padding-right: 0;
    }

    .topnav a.active{
        padding: 0;
    }

    .topnav a .icon{
        padding: 0;
    }

    .topnav {
        padding-bottom: 250px;
    }

    .logo{
        margin: 0 0 0 0;
    }
}



@media screen and (max-width: 997px) {

    .text {
        width: 80%;
        margin-top: 20px;
        margin-left: 100px;
    }
}

@media screen and (max-width: 792px) {

    .text {
        width: 80%;
        margin-top: 20px;
        margin-left: 70px;
    }

    .topnav {
        padding-bottom: 190px;
    }
}

@media screen and (max-width: 560px) {

    .text {
        width: 80%;
        margin-top: 20px;
        margin-left: 60px;
    }

    li a {
        text-align: left;
        padding: 14px 16px;
        padding-left: 20px;
    }
    
}

@media screen and (max-width: 435px) {

    .text {
        width: 80%;
        margin-top: 20px;
        margin-left: 45px;
    }

    li a {
        text-align: left;
        padding: 14px 16px;
        padding-left: 0px;
    }
    
}





@media screen and (max-width: 318px) {

    .text {
        width: 80%;
        margin-top: 20px;
        margin-left: 35px;
    }
    li a {
        text-align: left;
        padding: 14px 16px;
        padding-left: 20px;
    }
    
}
@media screen and (max-width: 400px) {
li a {
    text-align: left;
    padding: 14px 16px;
    padding-left: 0px;
}}


@media screen and (max-width: 264px) {

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right:0;
      top: 0;
      z-index: 2000;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .text {
        width: 80%;
        margin-left: 25px;
    }

    .banner {
        width: 100%;
        height: 65vh;
        background-size: cover;
        background-position: center;
        margin-top: 0px;
        padding-top: 0px;
    }

    li a {

        padding-left: 20px;
    }
}


@media screen and  (max-width: 406px){
    .leto{
        font-size: 60px;
      
}}

@media screen and (min-width:300px) and (max-width: 1500px){
    .main-content{
        grid-template-columns: 1fr;
    }
}